<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-icon" data-background-color="purple">
						<i class="material-icons">assignment</i>
					</div>
					<div class="card-content">
						<h4 class="card-title">DataTables.net</h4>
						<div class="toolbar">
							<!--        Here you can write extra buttons/actions for the toolbar              -->
						</div>
						<div class="material-datatables table-responsive">
							<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
								<thead>
									<tr>
										<th>{{ dataTable.headerRow[0] }}</th>
										<th>{{ dataTable.headerRow[1] }}</th>
										<th>{{ dataTable.headerRow[2] }}</th>
										<th>{{ dataTable.headerRow[3] }}</th>
										<th>{{ dataTable.headerRow[4] }}</th>
										<th class="disabled-sorting text-right">{{ dataTable.headerRow[5] }}</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>{{ dataTable.footerRow[0] }}</th>
										<th>{{ dataTable.footerRow[1] }}</th>
										<th>{{ dataTable.footerRow[2] }}</th>
										<th>{{ dataTable.footerRow[3] }}</th>
										<th>{{ dataTable.footerRow[4] }}</th>
										<th class="text-right">{{ dataTable.footerRow[5] }}</th>
									</tr>
								</tfoot>
								<tbody>
									<tr *ngFor="let row of dataTable.dataRows">
										<td>{{row[0]}}</td>
										<td>{{row[1]}}</td>
										<td>{{row[2]}}</td>
										<td>{{row[3]}}</td>
										<td>{{row[4]}}</td>
										<td class="text-right">
											<button class="btn btn-simple btn-info btn-icon like" rel="tooltip" title="Like" data-placement="left">
                                                <i class="material-icons">favorite</i>
                                            </button>
											<button class="btn btn-simple btn-warning btn-icon edit" rel="tooltip" title="Edit" data-placement="left">
                                                <i class="material-icons">dvr</i>
                                            </button>
											<button class="btn btn-simple btn-danger btn-icon remove" rel="tooltip" title="Remove" data-placement="left">
                                                <i class="material-icons">close</i>
                                            </button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- end content-->
				</div>
				<!--  end card  -->
			</div>
			<!-- end col-md-12 -->
		</div>
		<!-- end row -->
	</div>
</div>
