.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  background: #283345;
  color: rgba(255, 255, 255, 0.87);

  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: max-height,box-shadow;
}
