<md-toolbar color="primary" class="md-elevation-z2">
	<span style="font-weight: 400; letter-spacing: 0.1rem;">Viven Health</span>
	<span class="toolbar-spacer"></span>
	<div style="font-weight: 400; letter-spacing: 0.1rem;">Welcome {{ (user$ | async)?.displayName }}</div>
	<!--<button md-button><md-icon svgIcon="chevron-down"></md-icon></button>-->
	<button md-button><md-icon (click)="logout()" svgIcon="log-out"></md-icon></button>
</md-toolbar>
