<!--<button (click)="logout()">Logout</button>-->

<article class="auth-wrapper">
	<md-card style="text-align: center;">
		<div [defaultImage]="defaultImage" [lazyLoad]="image"></div>
		<img md-card-image class="viven-logo" src="../../../assets/images/viven-health-logo.png">
		<md-card-title>Welcome!</md-card-title>
		<md-card-subtitle>Please select a method to sign in or register.</md-card-subtitle>
		<md-card-content>
			<firebase-ui></firebase-ui>
		</md-card-content>
		<md-card-footer> &copy; 2017 Viven Health Inc.</md-card-footer>
	</md-card>
</article>
