.viven-logo {
  max-width: 20vw;
  height: auto;
  padding: 40px 50px 5px;
}

.auth-wrapper {
  background: url('../../../assets/images/bg-high-res.jpg') no-repeat center center fixed;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  // force gpu rendering
  transform: translate3d(0, 0, 0);
}

md-card {
  background: rgba( 255, 255, 255, 0.8 ) !important;
}

.mat-card-title {
  text-align: center;
  font-size: 2.5rem;
}

.mat-card-subtitle {
  font-size: 1rem;
}

.mat-card-footer {
  font-size: .8rem;
  padding-bottom: 15px;
}
