<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header card-header-icon" data-background-color="orange">
						<i class="material-icons">mail_outline</i>
					</div>
					<div class="card-content">
						<h4 class="card-title">Stacked Form</h4>
						<form method="#" action="#">
							<div class="form-group label-floating">
								<label class="control-label">Email address</label>
								<input type="email" class="form-control">
							</div>
							<div class="form-group label-floating">
								<label class="control-label">Password</label>
								<input type="password" class="form-control">
							</div>
							<div class="checkbox">
								<label>
                                    <input type="checkbox" name="optionsCheckboxes"> Subscribe to newsletter
                                </label>
							</div>
							<button type="submit" class="btn btn-fill btn-rose">Submit</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header card-header-icon" data-background-color="orange">
						<i class="material-icons">contacts</i>
					</div>
					<div class="card-content">
						<h4 class="card-title">Horizontal Form</h4>
						<form class="form-horizontal">
							<div class="row">
								<label class="col-md-3 label-on-left">Email</label>
								<div class="col-md-9">
									<div class="form-group label-floating is-empty">
										<label class="control-label"></label>
										<input type="email" class="form-control">
									</div>
								</div>
							</div>
							<div class="row">
								<label class="col-md-3 label-on-left">Password</label>
								<div class="col-md-9">
									<div class="form-group label-floating is-empty">
										<label class="control-label"></label>
										<input type="password" class="form-control">
									</div>
								</div>
							</div>
							<div class="row">
								<label class="col-md-3"></label>
								<div class="col-md-9">
									<div class="checkbox form-horizontal-checkbox">
										<label>
                                            <input type="checkbox" name="optionsCheckboxes"> Remember Me
                                        </label>
									</div>
								</div>
							</div>
							<div class="row">
								<label class="col-md-3"></label>
								<div class="col-md-9">
									<div class="form-group form-button">
										<button type="submit" class="btn btn-fill btn-rose">Sign in</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="card">
					<form method="get" action="/" class="form-horizontal">
						<div class="card-header card-header-text" data-background-color="orange">
							<h4 class="card-title">Form Elements</h4>
						</div>
						<div class="card-content">
							<div class="row">
								<label class="col-sm-2 label-on-left">With help</label>
								<div class="col-sm-10">
									<div class="form-group label-floating is-empty">
										<label class="control-label"></label>
										<input type="text" class="form-control" value>
										<span class="help-block">A block of help text that breaks onto a new line.</span>
									</div>
								</div>
							</div>
							<div class="row">
								<label class="col-sm-2 label-on-left">Password</label>
								<div class="col-sm-10">
									<div class="form-group label-floating is-empty">
										<label class="control-label"></label>
										<input type="password" class="form-control" value>
									</div>
								</div>
							</div>
							<div class="row">
								<label class="col-sm-2 label-on-left">Placeholder</label>
								<div class="col-sm-10">
									<div class="form-group label-floating is-empty">
										<label class="control-label"></label>
										<input type="text" class="form-control" placeholder="placeholder">
									</div>
								</div>
							</div>
							<div class="row">
								<label class="col-sm-2 label-on-left">Disabled</label>
								<div class="col-sm-10">
									<div class="form-group label-floating is-empty">
										<label class="control-label"></label>
										<input type="text" placeholder="Disabled input here..." disabled="" class="form-control">
									</div>
								</div>
							</div>
							<div class="row">
								<label class="col-sm-2 label-on-left">Static control</label>
								<div class="col-sm-10">
									<div class="form-group">
										<p class="form-control-static">hello@creative-tim.com</p>
									</div>
								</div>
							</div>
							<div class="row">
								<label class="col-sm-2 label-on-left">Checkboxes and radios</label>
								<div class="col-sm-10 checkbox-radios">
									<div class="checkbox">
										<label>
                                            <input type="checkbox" name="optionsCheckboxes"> First Checkbox
                                        </label>
									</div>
									<div class="checkbox">
										<label>
                                            <input type="checkbox" name="optionsCheckboxes"> Second Checkbox
                                        </label>
									</div>
									<div class="radio">
										<label>
                                            <input type="radio" name="optionsRadios" checked="true"> First Radio
                                        </label>
									</div>
									<div class="radio">
										<label>
                                            <input type="radio" name="optionsRadios"> Second Radio
                                        </label>
									</div>
								</div>
							</div>
							<div class="row">
								<label class="col-sm-2 label-on-left">Inline checkboxes</label>
								<div class="col-sm-10">
									<div class="checkbox checkbox-inline">
										<label>
                                            <input type="checkbox" name="optionsCheckboxes">a
                                        </label>
									</div>
									<div class="checkbox checkbox-inline">
										<label>
                                            <input type="checkbox" name="optionsCheckboxes">b
                                        </label>
									</div>
									<div class="checkbox checkbox-inline">
										<label>
                                            <input type="checkbox" name="optionsCheckboxes">c
                                        </label>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-12">
				<div class="card">
					<form method="get" action="/" class="form-horizontal">
						<div class="card-header card-header-text" data-background-color="orange">
							<h4 class="card-title">Input Variants</h4>
						</div>
						<div class="card-content">
							<div class="row">
								<label class="col-sm-2 label-on-left">Custom Checkboxes &amp; radios</label>
								<div class="col-sm-4 col-sm-offset-1 checkbox-radios">
									<div class="checkbox">
										<label>
                                            <input type="checkbox" name="optionsCheckboxes"> Unchecked
                                        </label>
									</div>
									<div class="checkbox">
										<label>
                                            <input type="checkbox" name="optionsCheckboxes" checked> Checked
                                        </label>
									</div>
									<div class="checkbox">
										<label>
                                            <input type="checkbox" name="optionsCheckboxes" disabled> Disabled Unchecked
                                        </label>
									</div>
									<div class="checkbox">
										<label>
                                            <input type="checkbox" name="optionsCheckboxes" checked disabled> Disabled Checked
                                        </label>
									</div>
								</div>
								<div class="col-sm-5 checkbox-radios">
									<div class="radio">
										<label>
                                            <input type="radio" name="optionsRadios"> Radio is off
                                        </label>
									</div>
									<div class="radio">
										<label>
                                            <input type="radio" name="optionsRadios" checked="true"> Radio is on
                                        </label>
									</div>
									<div class="radio">
										<label>
                                            <input type="radio" name="optionsRadiosDisabled" disabled> Disabled Radio is off
                                        </label>
									</div>
									<div class="radio">
										<label>
                                            <input type="radio" name="optionsRadiosDisabled" checked="true" disabled> Disabled Radio is on
                                        </label>
									</div>
								</div>
							</div>
							<div class="row">
								<label class="col-sm-2 label-on-left">Input with success</label>
								<div class="col-sm-10">
									<div class="form-group label-floating is-empty has-success">
										<label class="control-label"></label>
										<input type="text" class="form-control" value="Success">
										<span class="material-icons form-control-feedback">done</span>
									</div>
								</div>
							</div>
							<div class="row">
								<label class="col-sm-2 label-on-left">Input with error</label>
								<div class="col-sm-10">
									<div class="form-group label-floating is-empty has-error">
										<label class="control-label"></label>
										<input type="text" class="form-control" value="Error Input">
										<span class="material-icons form-control-feedback">clear</span>
									</div>
								</div>
							</div>
							<div class="row">
								<label class="col-sm-2 label-on-left">Column sizing</label>
								<div class="col-sm-10">
									<div class="row">
										<div class="col-md-3">
											<div class="form-group label-floating is-empty">
												<label class="control-label"></label>
												<input type="text" class="form-control" placeholder=".col-md-3">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group label-floating is-empty">
												<label class="control-label"></label>
												<input type="text" class="form-control" placeholder=".col-md-4">
											</div>
										</div>
										<div class="col-md-5">
											<div class="form-group label-floating is-empty">
												<label class="control-label"></label>
												<input type="text" class="form-control" placeholder=".col-md-5">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
