<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header" data-background-color="orange">
						<i class="material-icons">weekend</i>
					</div>
					<div class="card-content">
						<p class="category">Bookings</p>
						<h3 class="card-title">184</h3>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons text-danger">warning</i>
							<a href="#pablo">Get More Space...</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header" data-background-color="red">
						<i class="material-icons">equalizer</i>
					</div>
					<div class="card-content">
						<p class="category">Views</p>
						<h3 class="card-title">75.521</h3>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">local_offer</i> Google Analytics
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header" data-background-color="green">
						<i class="material-icons">store</i>
					</div>
					<div class="card-content">
						<p class="category">Revenue</p>
						<h3 class="card-title">$3,245</h3>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">date_range</i> Last 24 Hours
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header" data-background-color="blue">
						<i class="fa fa-twitter"></i>
					</div>
					<div class="card-content">
						<p class="category">Followers</p>
						<h3 class="card-title">+245</h3>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">update</i> Just Updated
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="card card-product">
					<div class="card-image" data-header-animation="true">
						<a href="#pablo">
                            <img class="img" src="../assets/img/card-2.jpeg">
                        </a>
					</div>
					<div class="card-content">
						<div class="card-actions">
							<button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
							<button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="View">
                                <i class="material-icons">art_track</i>
                            </button>
							<button type="button" class="btn btn-success btn-simple" rel="tooltip" data-placement="bottom" title="Edit">
                                <i class="material-icons">edit</i>
                            </button>
							<button type="button" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="Remove">
                                <i class="material-icons">close</i>
                            </button>
						</div>
						<h4 class="card-title">
							<a href="#pablo">Cozy 5 Stars Apartment</a>
						</h4>
						<div class="card-description">
							The place is close to Barceloneta Beach and bus stop just 2 min by walk and...
						</div>
					</div>
					<div class="card-footer">
						<div class="price">
							<h4>$899/night</h4>
						</div>
						<div class="stats pull-right">
							<p class="category"><i class="material-icons">place</i> Barcelona, Spain</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card card-product">
					<div class="card-image" data-header-animation="true">
						<a href="#pablo">
                            <img class="img" src="../assets/img/card-3.jpeg">
                        </a>
					</div>
					<div class="card-content">
						<div class="card-actions">
							<button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
							<button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="View">
                                <i class="material-icons">art_track</i>
                            </button>
							<button type="button" class="btn btn-success btn-simple" rel="tooltip" data-placement="bottom" title="Edit">
                                <i class="material-icons">edit</i>
                            </button>
							<button type="button" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="Remove">
                                <i class="material-icons">close</i>
                            </button>
						</div>
						<h4 class="card-title">
							<a href="#pablo">Office Studio</a>
						</h4>
						<div class="card-description">
							The place is close to Metro Station and bus stop just 2 min by walk and near...
						</div>
					</div>
					<div class="card-footer">
						<div class="price">
							<h4>$1.119/night</h4>
						</div>
						<div class="stats pull-right">
							<p class="category"><i class="material-icons">place</i> London, UK</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card card-product">
					<div class="card-image" data-header-animation="true">
						<a href="#pablo">
                            <img class="img" src="../assets/img/card-1.jpeg">
                        </a>
					</div>
					<div class="card-content">
						<div class="card-actions">
							<button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
							<button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="View">
                                <i class="material-icons">art_track</i>
                            </button>
							<button type="button" class="btn btn-success btn-simple" rel="tooltip" data-placement="bottom" title="Edit">
                                <i class="material-icons">edit</i>
                            </button>
							<button type="button" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="Remove">
                                <i class="material-icons">close</i>
                            </button>
						</div>
						<h4 class="card-title">
							<a href="#pablo">Beautiful Castle</a>
						</h4>
						<div class="card-description">
							The place is close to Metro Station and bus stop just 2 min by walk and near...
						</div>
					</div>
					<div class="card-footer">
						<div class="price">
							<h4>$459/night</h4>
						</div>
						<div class="stats pull-right">
							<p class="category"><i class="material-icons">place</i> Milan, Italy</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-icon" data-background-color="red">
						<i class="material-icons">language</i>
					</div>
					<div class="card-content">
						<h4 class="card-title">Global Sales by Top Locations</h4>
						<div class="row">
							<div class="col-md-5">
								<md-table [data]="tableData">
								</md-table>
							</div>
							<div class="col-md-6 col-md-offset-1">
								<div id="worldMap" class="map"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="card card-chart">
					<div class="card-header" data-background-color="green" data-header-animation="true">
						<div class="ct-chart" id="dailySalesChart"></div>
					</div>
					<div class="card-content">
						<div class="card-actions">
							<button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
							<button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="Refresh">
                                <i class="material-icons">refresh</i>
                            </button>
							<button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="Change Date">
                                <i class="material-icons">edit</i>
                            </button>
						</div>
						<h4 class="card-title">Daily Sales</h4>
						<p class="category">
							<span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">access_time</i> updated 4 minutes ago
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-chart">
					<div class="card-header" data-background-color="orange" data-header-animation="true">
						<div class="ct-chart" id="completedTasksChart"></div>
					</div>
					<div class="card-content">
						<div class="card-actions">
							<button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
							<button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="Refresh">
                                <i class="material-icons">refresh</i>
                            </button>
							<button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="Change Date">
                                <i class="material-icons">edit</i>
                            </button>
						</div>
						<h4 class="card-title">Completed Tasks</h4>
						<p class="category">Last Campaign Performance</p>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">access_time</i> campaign sent 2 days ago
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-chart">
					<div class="card-header" data-background-color="red" data-header-animation="true">
						<div class="ct-chart" id="websiteViewsChart"></div>
					</div>
					<div class="card-content">
						<div class="card-actions">
							<button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
							<button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="Refresh">
                                <i class="material-icons">refresh</i>
                            </button>
							<button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="Change Date">
                                <i class="material-icons">edit</i>
                            </button>
						</div>
						<h4 class="card-title">Website Views</h4>
						<p class="category">Last Campaign Performance</p>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">access_time</i> campaign sent 2 days ago
						</div>
					</div>
				</div>
			</div>
		</div>



	</div>
</div>
