<footer class="footer">
	<div class="container-fluid">
		<nav class="pull-left">
			<ul>
				<li>
					<a href="#">
                        Home
                    </a>
				</li>
				<li>
					<a href="#">
                        About
                    </a>
				</li>
				<li>
					<a href="#">
						 Company
                    </a>
				</li>
				<li>
					<a href="#">
                        Blog
                    </a>
				</li>
			</ul>
		</nav>
		<p class="copyright pull-right">
			&copy; {{ theDate | date: 'yyyy' }}
			<a href="https://www.vivenhealth.com">Viven Health, Inc.</a>
		</p>
	</div>
</footer>
