<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="card">
					<div class="card-header card-header-text" data-background-color="orange">
						<h4 class="card-title">Employees Stats</h4>
						<p class="category">New employees on 15th September, 2017</p>
					</div>
					<div class="card-content table-responsive">
						<table class="table">
							<thead class="text-warning">
								<tr>
									<th *ngFor="let cell of tableData.headerRow">{{ cell }}</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let row of tableData.dataRows">
									<td *ngFor="let cell of row">{{ cell }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="card">
					<div class="card-header card-header-tabs" data-background-color="orange">
						<div class="nav-tabs-navigation">
							<div class="nav-tabs-wrapper">
								<span class="nav-tabs-title">Tasks:</span>
								<ul class="nav nav-tabs" data-tabs="tabs">
									<li class="active">
										<a href="#profile" data-toggle="tab">
                                            <i class="material-icons">bug_report</i> Bugs
                                            <div class="ripple-container"></div>
                                        </a>
									</li>
									<li class="">
										<a href="#messages" data-toggle="tab">
                                            <i class="material-icons">code</i> Website
                                            <div class="ripple-container"></div>
                                        </a>
									</li>
									<li class="">
										<a href="#settings" data-toggle="tab">
                                            <i class="material-icons">cloud</i> Server
                                            <div class="ripple-container"></div>
                                        </a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card-content">
						<div class="tab-content">
							<div class="tab-pane active" id="profile">
								<table class="table">
									<tbody>
										<tr *ngFor="let row of tasks1">
											<td>
												<div [ngSwitch]="row.checked">
													<div *ngSwitchCase="true">
														<div class="checkbox">
															<label>
                                                                  <input type="checkbox" name="optionsCheckboxes" checked>
                                                              </label>
														</div>
													</div>
													<div *ngSwitchDefault>
														<div class="checkbox">
															<label>
                                                                  <input type="checkbox" name="optionsCheckboxes">
                                                              </label>
														</div>
													</div>

												</div>
											</td>
											<td>{{row.title}}</td>
											<td class="td-actions text-right">
												<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                      <i class="material-icons">edit</i>
                                                  </button>
												<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                      <i class="material-icons">close</i>
                                                  </button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="tab-pane" id="messages">
								<table class="table">
									<tbody>
										<tr *ngFor="let row of tasks2">
											<td>
												<div [ngSwitch]="row.checked">
													<div *ngSwitchCase="true">
														<div class="checkbox">
															<label>
                                                                  <input type="checkbox" name="optionsCheckboxes" checked>
                                                              </label>
														</div>
													</div>
													<div *ngSwitchDefault>
														<div class="checkbox">
															<label>
                                                                  <input type="checkbox" name="optionsCheckboxes">
                                                              </label>
														</div>
													</div>

												</div>
											</td>
											<td>{{row.title}}</td>
											<td class="td-actions text-right">
												<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                      <i class="material-icons">edit</i>
                                                  </button>
												<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                      <i class="material-icons">close</i>
                                                  </button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="tab-pane" id="settings">
								<table class="table">
									<tbody>
										<tr *ngFor="let row of tasks3">
											<td>
												<div [ngSwitch]="row.checked">
													<div *ngSwitchCase="true">
														<div class="checkbox">
															<label>
                                                                  <input type="checkbox" name="optionsCheckboxes" checked>
                                                              </label>
														</div>
													</div>
													<div *ngSwitchDefault>
														<div class="checkbox">
															<label>
                                                                  <input type="checkbox" name="optionsCheckboxes">
                                                              </label>
														</div>
													</div>

												</div>
											</td>
											<td>{{row.title}}</td>
											<td class="td-actions text-right">
												<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                      <i class="material-icons">edit</i>
                                                  </button>
												<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                      <i class="material-icons">close</i>
                                                  </button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="col-lg-6">
					<div class="card card-pricing card-raised">
						<div class="content">
							<h6 class="category">Small Company</h6>
							<div class="icon icon-rose">
								<i class="material-icons">home</i>
							</div>
							<h3 class="card-title">$29</h3>
							<p class="card-description">
								This is good if your company size is between 2 and 10 Persons.
							</p>
							<a href="#" class="btn btn-rose btn-round">Choose Plan</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="card card-pricing card-plain">
						<div class="content">
							<h6 class="category">Freelancer</h6>
							<div class="icon">
								<i class="material-icons">weekend</i>
							</div>
							<h3 class="card-title">FREE</h3>
							<p class="card-description">
								This is good if your company size is between 2 and 10 Persons.
							</p>
							<a href="#pablo" class="btn btn-white btn-round">Choose Plan</a>
						</div>
					</div>
				</div>
				<div class="col-md-11">
					<div class="card card-testimonial">
						<div class="icon">
							<i class="material-icons">format_quote</i>
						</div>
						<div class="card-content">
							<h5 class="card-description">
								Your products, all the kits that I have downloaded from your site and worked with are sooo cool! I love the color mixtures, cards... everything. Keep up the great work!
							</h5>
						</div>
						<div class="footer">
							<h4 class="card-title">Alec Thompson</h4>
							<h6 class="category">@alecthompson</h6>
							<div class="card-avatar">
								<a href="#pablo">
                                    <img class="img" src="../assets/img/faces/card-profile1-square.jpg" />
                                </a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<ul class="timeline timeline-simple">
					<li class="timeline-inverted">
						<div class="timeline-badge danger">
							<i class="material-icons">card_travel</i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<span class="label label-danger">Some title</span>
							</div>
							<div class="timeline-body">
								<p>Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making my family We just had fun with the “future” theme !!! It was a fun night all together ... The always rude Kanye Show at 2am Sold Out Famous viewing @ Figueroa and 12th in downtown.</p>
							</div>
							<h6>
								<i class="ti-time"></i> 11 hours ago via Twitter
							</h6>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-badge success">
							<i class="material-icons">extension</i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<span class="label label-success">Another One</span>
							</div>
							<div class="timeline-body">
								<p>Thank God for the support of my wife and real friends. I also wanted to point out that it’s the first album to go number 1 off of streaming!!! I love you Ellen and also my number one design rule of anything I do from shoes to music to homes is that Kim has to like it....</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-badge info">
							<i class="material-icons">fingerprint</i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<span class="label label-info">Another Title</span>
							</div>
							<div class="timeline-body">
								<p>Called I Miss the Old Kanye That’s all it was Kanye And I love you like Kanye loves Kanye Famous viewing @ Figueroa and 12th in downtown LA 11:10PM</p>
								<p>What if Kanye made a song about Kanye Royère doesn't make a Polar bear bed but the Polar bear couch is my favorite piece of furniture we own It wasn’t any Kanyes Set on his goals Kanye</p>
								<hr>
								<div class="dropdown pull-left">
									<button type="button" class="btn btn-round btn-info dropdown-toggle" data-toggle="dropdown">
                                        <i class="material-icons">build</i>
                                        <span class="caret"></span>
                                    </button>
									<ul class="dropdown-menu dropdown-menu-right" role="menu">
										<li>
											<a href="#action">Action</a>
										</li>
										<li>
											<a href="#action">Another action</a>
										</li>
										<li>
											<a href="#here">Something else here</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#link">Separated link</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
